<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/styles.css"/>
        <script src="/static/d3.v7.min.js"></script>
        <script src="/static/charts.js"></script>
        <title>Convey Logs - Aletheia Ware</title>
    </head>

    <body>
        <h1>Hello Logs!</h1>

        <a href="javascript:ClearAllFilters();">Clear All Filters</a>

        <h2>TIMELINE</h2>

        <div style="width: 100%; text-align: center;">
            <input type="text" id="start-input" onkeydown="Update()" /> - <input type="text" id="end-input" onkeydown="Update()" />
        </div>

        <!-- TODO add widget to control start/end time filter more easily -->

        <svg id="timeline" />

        <div class="tab">
            <button class="tablinks" onclick="OpenView(event, 'aggregations')" id="defaultOpen"><h2>Aggregations</h2></button>
            <button class="tablinks" onclick="OpenView(event, 'requests')"><h2>Requests</h2></button>
            <button class="tablinks" onclick="OpenView(event, 'sessions')"><h2>Sessions</h2></button>
        </div>

        <div id="aggregations" class="tabcontent">
            <table>
                <tr>
                    <th>ADDRESS</th>
                    <th>PROTOCOL</th>
                    <th>METHOD</th>
                    <th>URL</th>
                    <th>HEADER KEY</th>
                    <th>HEADER VALUE</th>
                </tr>
                <tr>
                    <td><input type="text" id="address-input" onkeydown="Update()" /></td>
                    <td><input type="text" id="protocol-input" onkeydown="Update()" /></td>
                    <td><input type="text" id="method-input" onkeydown="Update()" /></td>
                    <td><input type="text" id="url-input" onkeydown="Update()" /></td>
                    <td><input type="text" id="header-key-input" onkeydown="Update()" /></td>
                    <td><input type="text" id="header-value-input" onkeydown="Update()" /></td>
                </tr>
                <tr>
                    <td><svg id="addresses" /></td>
                    <td><svg id="protocols" /></td>
                    <td><svg id="methods" /></td>
                    <td><svg id="urls" /></td>
                    <td><svg id="header-keys" /></td>
                    <td><svg id="header-values" /></td>
                </tr>
            </table>
        </div>

        <div id="sessions" class="tabcontent">
            <!--
                TODO add session flow search box to enter a query.
                eg. "/,/static,/digest,/best,/recent,/conversation,/content,/about,/subscribe-digest,/sign-up,/sign-up-verification,/sign-in,/account,/account-password,/account-recovery,/account-deactivate,/notification,/coin-buy,/publish,/reply,/gift,/delete,/stripe,/sign-out"
                X: query
                Y: addresses
                sorted Y by number of matches with query
                colored green for hit, red for miss
            -->
            <svg id="sessions" />
        </div>

        <div id="requests" class="tabcontent"></div>

        <div id="tooltip" />

        <script>
            const startinput = document.getElementById('start-input');
            const endinput = document.getElementById('end-input');
            const addressinput = document.getElementById('address-input');
            const protocolinput = document.getElementById('protocol-input');
            const methodinput = document.getElementById('method-input');
            const urlinput = document.getElementById('url-input');
            const headerkeyinput = document.getElementById('header-key-input');
            const headervalueinput = document.getElementById('header-value-input');

            function ClearAllFilters() {
                LoadData(new Map());
            }

            function Update() {
                if(event.key === 'Enter') {
                    UpdateFilters();
                }
            }

            function UpdateFilters() {
                const query = new Map();

                if (startinput.value) {
                    query.set('start', new Date(startinput.value).getTime() / 1000);
                }

                if (endinput.value) {
                    query.set('end', new Date(endinput.value).getTime() / 1000);
                }

                if (addressinput.value) {
                    query.set('address', addressinput.value);
                }

                if (protocolinput.value) {
                    query.set('protocol', protocolinput.value);
                }

                if (methodinput.value) {
                    query.set('method', methodinput.value);
                }

                if (urlinput.value) {
                    query.set('url', encodeURIComponent(urlinput.value));
                }

                if (headerkeyinput.value) {
                    query.set('header-key', encodeURIComponent(headerkeyinput.value));
                }

                if (headervalueinput.value) {
                    query.set('header-value', encodeURIComponent(headervalueinput.value));
                }

                LoadData(query);
            }

            function LoadData(query) {
                // TODO scroll to top
                // TODO set cursor to loading

                if (query.has('start')) {
                    startinput.value = new Date(query.get('start') * 1000).toISOString();
                } else {
                    startinput.value = null;
                }

                if (query.has('end')) {
                    endinput.value = new Date(query.get('end') * 1000).toISOString();
                } else {
                    endinput.value = null;
                }

                if (query.has('address')) {
                    addressinput.value = query.get('address');
                } else {
                    addressinput.value = null;
                }

                if (query.has('protocol')) {
                    protocolinput.value = query.get('protocol');
                } else {
                    protocolinput.value = null;
                }

                if (query.has('method')) {
                    methodinput.value = query.get('method');
                } else {
                    methodinput.value = null;
                }

                if (query.has('url')) {
                    urlinput.value = decodeURIComponent(query.get('url'));
                } else {
                    urlinput.value = null;
                }

                if (query.has('header-key')) {
                    headerkeyinput.value = decodeURIComponent(query.get('header-key'));
                } else {
                    headerkeyinput.value = null;
                }

                if (query.has('header-value')) {
                    headervalueinput.value = decodeURIComponent(query.get('header-value'));
                } else {
                    headervalueinput.value = null;
                }

                const parts = [];
                for (const [key, value] of query) {
                    parts.push(key + '=' + value);
                }

                var queryString = '';
                if (parts.length > 0) {
                    queryString = '?'+ parts.join('&');
                }

                const histogramWidth = window.innerWidth - (16 + 4);// body margin, table border spacing
                const histogramHeight = window.innerHeight / 2;

                d3.json('/requests.json' + queryString)
                    .then(function(data) {
                        startinput.value = new Date(data.start * 1000).toISOString();
                        endinput.value = new Date(data.end * 1000).toISOString();
                        Histogram('#timeline', histogramWidth, histogramHeight, data.start, data.end, data.rows, function(data) {
                            return data.timestamp;
                        }, function(data) {
                            return '<table><tr><th>From</th><td>' + data.x0.toISOString() + '</td></tr><tr><th>To</th><td>' + data.x1.toISOString() + '</td></tr><tr><th>Count</th><td>' + data.length + '</td></tr></table>'
                        }, function(event, data) {
                            query.set('start', data.x0.getTime() / 1000);
                            query.set('end', data.x1.getTime() / 1000);
                            LoadData(query);
                        });

                        const columns = ['timestamp', 'address', 'protocol', 'method', 'host', 'url'];

                        d3.select('#requests').selectAll('*').remove();

                        if (data.rows.length > 200) {
                            d3.select('#requests')
                                .append(`p`)
                                .text("Too many rows, try filtering the dataset.");
                        } else {
                            const table = d3.select('#requests')
                                .append('table');

                            const thead = table.append('thead');
                            thead.selectAll('th')
                                .data(columns)
                                .enter()
                                .append('th')
                                .text(function (column) {
                                    return column.toUpperCase();
                                });

                            const tbody = table.append('tbody');

                            const rows = tbody.selectAll('tr')
                                .data(data.rows)
                                .enter()
                                .append('tr');

                            const cells = rows.selectAll('td')
                                .data(function (row) {
                                    return columns.map(function (column) {
                                        var v = row[column];
                                        if (column === 'timestamp') {
                                            v = new Date(v * 1000).toISOString();
                                        }
                                        return {column: column, value: v};
                                    });
                                })
                                .enter()
                                .append('td')
                                .text(function (data) { return data.value; });
                        }
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                const barChartCount = 6;
                const barWidth = (window.innerWidth - (16 + 4)) / barChartCount - 4;// body margin, table border spacing

                d3.json('/addresses.json' + queryString)
                    .then(function(data) {
                        HBar('#addresses', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.address;
                        }, function(event, data) {
                            query.set('address', data.address);
                            LoadData(query);
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                d3.json('/protocols.json' + queryString)
                    .then(function(data) {
                        HBar('#protocols', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.protocol;
                        }, function(event, data) {
                            query.set('protocol', data.protocol);
                            LoadData(query)
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                d3.json('/methods.json' + queryString)
                    .then(function(data) {
                        HBar('#methods', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.method;
                        }, function(event, data) {
                            query.set('method', data.method);
                            LoadData(query)
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                d3.json('/urls.json' + queryString)
                    .then(function(data) {
                        HBar('#urls', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.url;
                        }, function(event, data) {
                            query.set('url', encodeURIComponent(data.url));
                            LoadData(query)
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                d3.json('/header-keys.json' + queryString)
                    .then(function(data) {
                        HBar('#header-keys', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.key;
                        }, function(event, data) {
                            query.set('header-key', encodeURIComponent(data.key));
                            LoadData(query)
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });

                d3.json('/header-values.json' + queryString)
                    .then(function(data) {
                        HBar('#header-values', barWidth, 0, data.limit, data.rows, function(data) {
                            return data.count
                        }, function(data) {
                            return data.value;
                        }, function(event, data) {
                            query.set('header-value', encodeURIComponent(data.value));
                            LoadData(query)
                        });
                    })
                    .catch(function(error) {
                        console.warn(error);
                    });
            }

            const query = new Map();
            // default to start of year
            query.set('start', new Date(Date.UTC(new Date().getFullYear())).getTime() / 1000);
            LoadData(query);

            const tabcontent = document.getElementsByClassName("tabcontent");
            const tablinks = document.getElementsByClassName("tablinks");

            function OpenView(event, view) {
                for (var i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                
                for (var i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(view).style.display = "block";
                event.currentTarget.className += " active";
            }

            document.getElementById("defaultOpen").click();
        </script>
    </body>
</html>
